<h1>Créditos</h1>

<p>

    Esta práctica ha sido desarrollada por Juan Carlos Díaz y Fernando Conde-Pumpido
</p>

<p>
    <a href="https://github.com/juancarlosdiaztorres/quiz_2017">https://github.com/juancarlosdiaztorres/quiz_2017</a> 
    <a href="https://github.com/FernandoConde-Pumpido/quiz_2017">https://github.com/FernandoConde-Pumpido/quiz_2017</a> 
</p>

<img src="/images/Jc.jpg" />
<img src="/images/Fer.png" />




